#__nuxt .content
{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 0 0 25px 0; */
    z-index: 2;
}

.content .wel
{
    width: 100%;
}

.wel h1
{
    font-size: 18px;
    text-align: center;
}

.content .front
{
    position: relative;
    margin: 100px 0 50px 0;
    width: 300px;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(170deg,hsl(38,49%,79%) 7.07%,#C49572 92.88%);
    box-shadow: 0 4px 0 -1px #8c5a33,0 24px 14px -8px rgba(31,14,1,.35),0 28px 18px rgba(21,9,0,.5),inset 0 0 1px 2px hsla(0,0%,100%,.3);
    border-radius: 16px;
}

.front .f-imgBox
{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%) rotateZ(-20deg);
    width: 160px;
    z-index: 1;
    animation: bounce 2s linear infinite;
}

.front .claim
{
    background-color: #000;
    box-shadow: inset 0 3px 0 #4d4d4d;
    color: #fff;
    font-size: 11px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes bounce
{
    0%, 100%
    {
        transform: translateX(-50%) rotateZ(-20deg) scale(1);
    } 50% {
        transform: translateX(-50%) rotateZ(-20deg) scale(1.09);
    }
}


.f-imgBox img
{
    position: relative;
    max-width: 100%;
}

.f-imgBox::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://p1-image.cdn-aihelp.net/FileService/UserFile/0/202505/20250518164523972aa6d58c753.png') no-repeat center;
    background-size: cover;
    animation: spin 15s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.front p
{
    color: #000;
    font-family: 'SupercellText-Regular';
    text-align: center;
    font-size: 11px;
    padding: 10px;
}


.front .g-imgBox
{
  position: relative;
  width: 150px;
  background: url('https://p1-image.cdn-aihelp.net/FileService/UserFile/0/202505/2025051907150308139411aa041.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 35px 0 0 0;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0 4px 0 -1px #8c5a33,inset 0 0 1px 2px hsla(0,0%,100%,.3);
  overflow: hidden;
}

.front .g-imgBox::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    opacity: 0.5;
    background: url('https://p1-image.cdn-aihelp.net/FileService/UserFile/0/202505/20250513024001460023da61e81.png') no-repeat center;
    background-size: cover;
    animation: bounces 1s linear infinite;
}

@keyframes bounces {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1.2);
    } 50% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.g-imgBox img
{
  position: relative;
  max-width: 100%;
  z-index: 99;
}

.g-imgBox img::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    opacity: 0.5;
    background: url('https://p1-image.cdn-aihelp.net/FileService/UserFile/0/202505/20250513024001460023da61e81.png') no-repeat center;
    background-size: cover;
    animation: bounces 1s linear infinite;
}

.g-imgBox .g-title
{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8px;
    width: 100%;
    text-align: center;
}







.modal-gacha
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
}

.modal-gacha .hint
{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.modal-gacha video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}


.id-verification
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 40px;
    background: linear-gradient(0deg,#d8caba,#ece4db 50.9%);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 0 2000px rgba(0,0,0,0.75), 0 4px 0 -1px #8c5a33,inset 0 0 1px 2px hsla(0,0%,100%,.3);
    gap: 15px;
}

.id-verification .id-text
{
    text-align: center;
}

.id-verification .id-input
{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    height: 40px;
    background: #f0f0f0;
    color: #000;
    background: linear-gradient(0deg,rgb(255,255,255),rgb(255,255,255) 48%,rgb(244,247,250) 0,rgb(255,255,255));
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.25),0 2px 0 0 hsla(0,0%,100%,.2);
    outline: none;
}

.id-verification .id-btn
{
    background-color: #000;
    box-shadow: inset 0 3px 0 #4d4d4d;
    color: #fff;
    font-size: 11px;
    padding: 8px 11px;
    border-radius: 5px;
    cursor: pointer;
}

.id-verification .id-alert
{
    font-size: 9px;
    color: #fff !important;
}
/* .wrap::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('https://store.supercell.com/_next/static/media/section-divider-2x.bbe7e030.png') no-repeat center;
    height: 5px;
} */

.content .accountInfo
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

.accountInfo .nickname
{
    font-size: 14px;
}

.accountInfo .info
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 20px;
}

.info .list
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 4px;
    border-radius: 5px;
    font-size: 11px;
}

.th
{
    background: #7e57c2 !important;
}
.exp
{
    background: #2196f3 !important;
}

.clan
{
    background: #555 !important;
}

.trophy
{
    background: #f9a825 !important;
}

.list img
{
    max-width: 20px;
}